<div class="panel panel-primary">
    <div class="panel-heading">Płeć</div>
    <div class="panel-body">
        <div class="radio">
            <label><input type="radio" ng-model="survey.sex" value="0" ng-required="!survey.sex">Mężczyzna</label>
        </div>
        <div class="radio">
            <label><input type="radio" ng-model="survey.sex" value="1" ng-required="!survey.sex">Kobieta</label>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Rasa</div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.origin" value="0" ng-required="!survey.origin">Azjatycka</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.origin" value="0.2" ng-required="!survey.origin">Czarnoskóra</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.origin" value="0.4" ng-required="!survey.origin">Biała</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.origin" value="0.6" ng-required="!survey.origin">Indyjska</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.origin" value="0.8" ng-required="!survey.origin">Mieszana</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.origin" value="1" ng-required="!survey.origin">Inna</label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Wiek</div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0" ng-required="!survey.age">18-19</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.08" ng-required="!survey.age">20-24</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.17" ng-required="!survey.age">25-29</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.25" ng-required="!survey.age">30-34</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.33" ng-required="!survey.age">35-39</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.42" ng-required="!survey.age">40-44</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.5" ng-required="!survey.age">45-49</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.58" ng-required="!survey.age">50-54</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.67" ng-required="!survey.age">55-59</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.75" ng-required="!survey.age">60-64</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.83" ng-required="!survey.age">65-69</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="0.92" ng-required="!survey.age">70-74</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.age" value="1" ng-required="!survey.age">75 i więcej</label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Wykształcenie</div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.education" value="0" ng-required="!survey.education">Brak</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.education" value="0.33" ng-required="!survey.education">Podstawowe</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.education" value="0.67" ng-required="!survey.education">Średnie</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.education" value="1" ng-required="!survey.education">Wyższe</label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Wyznanie</div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.religion" value="0" ng-required="!survey.religion">Protestant</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.religion" value="0.25" ng-required="!survey.religion">Katolik</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.religion" value="0.5" ng-required="!survey.religion">Żyd</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.religion" value="0.75" ng-required="!survey.religion">Inne</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.religion" value="1" ng-required="!survey.religion">Ateista</label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Zatrudnienie</div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.employment" value="0" ng-required="!survey.employment">Pełen etat</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.employment" value="0.25" ng-required="!survey.employment">Pół etatu</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.employment" value="0.5" ng-required="!survey.employment">Niezatrudniony</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.employment" value="0.75" ng-required="!survey.employment">Uczeń</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.employment" value="1" ng-required="!survey.employment">Emerytura</label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Wynagrodzenie [$]</div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="0" ng-required="!survey.income">mniej niż 8 000</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="0.11" ng-required="!survey.income">8 000 - 10 000</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="0.22" ng-required="!survey.income">10 000 - 15 000</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="0.33" ng-required="!survey.income">15 000 - 20 000</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="0.44" ng-required="!survey.income">20 000 - 30 000</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="0.56" ng-required="!survey.income">30 000 - 40 000</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="0.67" ng-required="!survey.income">40 000 - 60 000</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="0.78" ng-required="!survey.income">60 000 - 80 000</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="0.89" ng-required="!survey.income">80 000 - 100 000</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.income" value="1" ng-required="!survey.income">więcej niż 100 000</label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Waga [kg]</div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.weight" value="0" ng-required="!survey.weight">mniej niż 50</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.weight" value="0.2" ng-required="!survey.weight">51-69</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.weight" value="0.4" ng-required="!survey.weight">70-89</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.weight" value="0.6" ng-required="!survey.weight">90-109</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.weight" value="0.8" ng-required="!survey.weight">110-130</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.weight" value="1" ng-required="!survey.weight">więcej niż 130</label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Stan cywilny</div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.martialStatus" value="0" ng-required="!survey.martialStatus">Żonaty, Mężatka</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.martialStatus" value="0.2" ng-required="!survey.martialStatus">w związku</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.martialStatus" value="0.4" ng-required="!survey.martialStatus">w separacji</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
                <label><input type="radio" ng-model="survey.martialStatus" value="0.6" ng-required="!survey.martialStatus">Rozwiedziony</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.martialStatus" value="0.8" ng-required="!survey.martialStatus">Wdowiec, Wdowa</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="survey.martialStatus" value="1" ng-required="!survey.martialStatus">Singiel</label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Preferencja seksualna</div>
    <div class="panel-body">
        <div class="radio">
            <label><input type="radio" ng-model="survey.sexualPreference" value="0" ng-required="!survey.sexualPreference">Hetero</label>
        </div>
        <div class="radio">
            <label><input type="radio" ng-model="survey.sexualPreference" value="0.5" ng-required="!survey.sexualPreference">Bi</label>
        </div>
        <div class="radio">
            <label><input type="radio" ng-model="survey.sexualPreference" value="1" ng-required="!survey.sexualPreference">Homo</label>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        <input type="submit" class="btn btn-primary btn-lg" value="Wyślij"/>
    </div>

    <div class="modal fade" id="surveyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Wynik</h4>
                </div>
                <div class="modal-body" id="modalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
</div>
